<style>
    .red {
        border: 3px dotted red;
    }
    .blue {
        border: 3px dotted blue;
    }
</style>
<div class="container">
    <div class="row">
        <div class="blue col">
            <div class="mt-2 shadow rounded product bg-white" *ngFor="let product of products">
                <h5 class="ml-2 pt-2 " style="word-wrap: break-word;">{{ product.name }}</h5>
                <div class="ml-2" style="word-wrap: break-word;">{{ product.description }}</div>
                <ul class="ml-2 pb-2 list-inline">
                    <a href="#">
                        <li class="small list-inline-item" *ngFor="let tag of product.tags">
                            {{ tag }}
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>