<div class="container mt-2">
    <div class="row">
        <div class="col p-0">
            <form [formGroup]="searchProductForm" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <input type="text" class="form-control" (keyup)="onInputKeyUp()" placeholder="Search" formControlName="searchField">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Go</button>
                    </div>
                </div>    
            </form>
        </div>
    </div>
    <div class="row" *ngFor="let product of products" id="{{ product.id }}">
        <div class="col pr-0 mt-2 shadow-sm rounded-left product bg-light" (click)="onProductClick()">
            <h5 class="ml-2 pt-2 " style="word-wrap: break-word;">{{ product.name }}</h5>
            <div class="ml-2" style="word-wrap: break-word;">{{ product.description }}</div>
            <ul class="ml-2 mb-2 list-inline">
                <a href="#">
                    <li class="small list-inline-item" *ngFor="let tag of product.tags">
                        {{ tag }}
                    </li>
                </a>
            </ul>
        </div>
        <div *ngIf="isAdmin" class="col-2 col-sm-1 d-flex justify-content-center pl-0 pr-0 mt-2 pt-2 rounded-right shadow-sm bg-light">
            <div>
                <img src="assets/img/trash-grey.svg" width="16" height="16" (mouseover)="onTrashIcon($event)" (mouseout)="onTrashIcon($event)" (click)="deleteProduct($event)" class="mt-1 d-block text-center" style="cursor: pointer;">
                <img src="assets/img/pencil-fill.svg" width="16" height="16" (mouseover)="onPencilIcon($event)" (mouseout)="onPencilIcon($event)" (click)="editProduct($event)" class="mt-1 d-block text-center" style="cursor: pointer;">
            </div>
        </div>
        <div *ngIf="!isAdmin" class="col-2 col-sm-1 d-flex justify-content-center pl-0 pr-0 mt-2 pt-2 rounded-right shadow-sm bg-light">
            <div>
                <img src="assets/img/star-grey.svg" width="16" height="16" (click)="onFavorite($event)" class="mt-1 d-block text-center" style="cursor: pointer;">
            </div>
        </div>
    </div>
</div>