<style>
    /* .red {
        border: 3px dotted red;
    }
    .blue {
        border: 3px dotted blue;
    } */
</style>
<div class="container mt-2">
    <div class="red row">
        <div class="col p-0">
            <!-- <form action="#"> -->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Go</button>
                    </div>
                </div>    
            <!-- </form> -->
        </div>
    </div>
    <div class="red row" *ngFor="let product of products" id="{{ product.id }}">
        <div class="col pr-0 mt-2 shadow-sm rounded-left product bg-light" (click)="onProductClick()">
            <h5 class="ml-2 pt-2 " style="word-wrap: break-word;">{{ product.name }}</h5>
            <div class="ml-2" style="word-wrap: break-word;">{{ product.description }}</div>
            <ul class="ml-2 mb-2 list-inline">
                <a href="#">
                    <li class="small list-inline-item" *ngFor="let tag of product.tags">
                        {{ tag }}
                    </li>
                </a>
            </ul>
        </div>
        <div *ngIf="isAdmin" class="blue col-2 col-sm-1 d-flex justify-content-center pl-0 pr-0 mt-2 pt-2 rounded-right shadow-sm bg-light">
            <div class="blue">
                <img src="assets/img/trash-grey.svg" width="16" height="16" (mouseover)="changeTrashIcon($event)" (mouseout)="changeTrashIcon($event)" (click)="deleteProduct($event)" class="mt-1 d-block red text-center" style="cursor: pointer;">
                <img src="assets/img/pencil-fill.svg" width="16" height="16" (mouseover)="changePencilIcon($event)" (mouseout)="changePencilIcon($event)" class="mt-1 d-block red text-center" style="cursor: pointer;">
            </div>
        </div>
    </div>
</div>