<nav *ngIf="showNavbar" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="nav">
    <a class="navbar-brand" href="">Broszura Produktowa</a>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link d-flex align-items-center" routerLinkActive #rla1="routerLinkActive">
          <!-- <img class="mr-sm-2" [src]="rla1.isActive ? 'assets/img/bootstrap-icons-1.1.0/house-fill.svg' : 'assets/img/bootstrap-icons-1.1.0/house.svg'" width="24" height="24"> -->
          <span class="d-none d-sm-block" routerLinkActive="text-primary">Produkty</span>
        </a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a routerLink="/addProduct" class="nav-link d-flex align-items-center" routerLinkActive #rla2="routerLinkActive">
          <!-- <img class="mr-sm-2" [src]="rla2.isActive ? 'assets/img/bootstrap-icons-1.1.0/house-fill.svg' : 'assets/img/bootstrap-icons-1.1.0/house.svg'" width="24" height="24"> -->
          <span class="d-none d-sm-block" routerLinkActive="text-primary">Dodaj produkt</span>
        </a>
      </li>
      <li *ngIf="!isAdmin" class="nav-item">
        <a routerLink="/favorites" class="nav-link d-flex align-items-center" routerLinkActive #rla3="routerLinkActive">
          <!-- <img class="mr-sm-2" [src]="rla2.isActive ? 'assets/img/bootstrap-icons-1.1.0/house-fill.svg' : 'assets/img/bootstrap-icons-1.1.0/house.svg'" width="24" height="24"> -->
          <span class="d-none d-sm-block" routerLinkActive="text-primary">Ulubione</span>
        </a>
      </li>
    </ul>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="assets/img/list.svg" width="28" height="28">
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          <a routerLink="/logout" class="nav-link">
            Logout
          </a>
        </li>
      </ul>
    </div>
</nav>